.Rproj.user
.Rhistory
.RData
testpageoutput.html
README.html
CourseLookup.csv
TeacherLookup.csv
TestFrame.csv
ClassSections.csv
loginPageStep2.txt
loginPageStep3.txt
loginpage.html
loginpage.txt
loginpage2.txt
loginpage3.txt
Sanbox.R
data
RecentTests.csv
currentstudents.csv
recentScores.csv
reportableTests.csv
GlobalHandScore.csv
GlobalResults.csv
drafts.xlsx
credentials.R
cacert.pem.crt
TestDraft.html
.httr-oauth
SavedDrafts.RData
ccTableExport.csv
GTHimport
eventframe2017_03_27_3pm.csv
eventFrame.csv
Parameters and Settings.xlsx
cacert-2017-09-20.pem.crt
cacert.pem
page1.html
out.html